@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
    --h3-bord-color: black;
}

.btn_font {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Syncopate', sans-serif;
}

h3 {
    /*font-size: 1.5rem;*/
    /*line-height: 1.5rem;*/
    color: white;
    text-align: center;
    text-shadow: var(--h3-bord-color) 3px 0 0,
            var(--h3-bord-color) 2.83487px 0.981584px 0,
            var(--h3-bord-color) 2.35766px 1.85511px 0,
            var(--h3-bord-color) 1.62091px 2.52441px 0,
            var(--h3-bord-color) 0.705713px 2.91581px 0,
            var(--h3-bord-color) -0.287171px 2.98622px 0,
            var(--h3-bord-color) -1.24844px 2.72789px 0,
            var(--h3-bord-color) -2.07227px 2.16926px 0,
            var(--h3-bord-color) -2.66798px 1.37182px 0,
            var(--h3-bord-color) -2.96998px 0.42336px 0,
            var(--h3-bord-color) -2.94502px -0.571704px 0,
            var(--h3-bord-color) -2.59586px -1.50383px 0,
            var(--h3-bord-color) -1.96093px -2.27041px 0,
            var(--h3-bord-color) -1.11013px -2.78704px 0,
            var(--h3-bord-color) -0.137119px -2.99686px 0,
            var(--h3-bord-color) 0.850987px -2.87677px 0,
            var(--h3-bord-color) 1.74541px -2.43999px 0,
            var(--h3-bord-color) 2.44769px -1.73459px 0,
            var(--h3-bord-color) 2.88051px -0.838247px 0
}

.balloon-left {
    position: relative;
    padding: 0 13px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 13px;
    margin-left: 13px;
    text-align: left;
    font-size: 1.5rem;
}

.balloon-left:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 11px 5px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -11px;
    top: 12px;
}

.balloon-right
{
    position: relative;
    padding: 0 13px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 13px;
    margin-right: 13px;
    text-align: left;
    font-size: 1.5rem;
}

.balloon-right:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 11px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -11px;
    top: 12px;
}
