<div id="gameview" class="text-center py-5" style="position: relative; display: none; flex-direction: row-reverse; flex: 1;">
    <div style="width: 100px"></div>

    <div class="mx-auto" style="flex: 1; display: flex; justify-content: space-evenly; flex-direction: column; align-items: center">
        <div style="background: #00600f; border-radius: 9px; box-shadow: #6abf69 0 -3px 0 0, #1b5e20 0 2px 0 0, rgba(0,0,0,.5) 0 8px 4px 0;">
            <div style="background: #388e3c; border-radius: 9px 9px 0 0; box-shadow: #6abf69 0 -2px 0 0 inset;">
                <p style="color:white">QUICK, DESCRIBE!</p>
                <h3 style="font-size: 1.3rem; margin-bottom: 0; padding-bottom: 5px">아래 그림을 묘사하는 문장을 작성해주세요.</h3>
            </div>

            <div class="p-2">
                <img src="" alt="" width="758" height="484">
            </div>
        </div>

        <div class="mt-4" style="width:758px; display: inline-flex">
            <input type="text" placeholder="문장을 입력해주세요." style="flex: 1">
            <button type="button" class="btn btn-primary ms-2" disabled>제출</button>
        </div>
    </div>

    <div style="width: 100px">
        <div id="timer"></div>
    </div>
</div>