<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Quick,Describe</title>
    {% include 'head.html' %}
    {% load static %}
    <script src="{% static 'js/app.js' %}" type="module" defer></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body style="display: flex; align-content: center; height: 100vh; width: 100vw;">
    <div class="px-2" style="transform: scale(.7); flex: 1; border: 4px solid rgba(29,29,27,.15); border-radius: 12px; box-sizing: border-box; display: flex; flex-direction: column;">

        {% include 'lobbyView.html' %}
        {% include 'gameView.html' %}
        {% include 'resultView.html' %}

        <footer style="display: flex; justify-content: space-between">
            <a>Gwangju AI School</a>
            <a>Legit</a>
        </footer>

    </div>

    <div id="mask" style="display: none; width: 100vw; height: 100vh; position: absolute; background-color: rgba(0,0,0,.8); top: 0; left: 0;">
        <div class="d-flex justify-content-center" style="height:100%; align-items: center">
            <h2 style="color: white">이미지 로딩중...</h2>
            <div class="spinner-border text-success ms-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

</body>
</html>