<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Quick,Describe</title>
    {% include 'head.html' %}
    {% load static %}
    <script src="{% static 'js/app.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body style="background: blueviolet">
    <div class="py-5 mx-auto px-2" style="border: 1px solid gray; border-radius: 5px; box-shadow: 0 0 5px gray; width:80%; background-color: yellow; box-sizing: border-box; margin: 2.5rem;">
        <div id="mainview" class="text-center">
            <h1 class="btn_font">Quick, Describe</h1>
            <div style="display: flex; justify-content: space-around">
                <div style="display: flex; flex-direction: column; height: 320px; width: 380px; padding: 15px 0;border: 3px solid rgba(0,0,0,.1); border-radius: 15px;">
                    <h3>플레이 방법</h3>
                    <div>
                        <div>
                            <span>1. 이미지 기억하기</span>
                            <p>이미지를 기억하세요</p>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary">시작하기</a>
                </div>
            </div>
        </div>
        <div id="gameview" class="text-center" style="display: none">
            <h1 class="btn_font">Quick, Describe</h1>
            <div class="mx-auto">
                <img src="" alt="" width="500">
            </div>
            <div style="display: block;" class="text-center mt-3">
                <div style="width: 500px; display: inline-flex">
                    <input type="text" style="flex:1;" placeholder="문장을 입력해주세요.">
                    <button type="button" class="btn btn-primary ms-2">제출</button>
                </div>
            </div>
        </div>
        <div id="resultview" style="display: none">
            <div class="text-center">
                <h1 class="btn_font">Quick, Describe</h1>
            </div>
            <div class="mt-5" style="display: flex; justify-content: center;">
                <div>
                    <img src="" alt="" width="400">
                </div>
                <div class="ms-5">
                    <div>
                        <h1>Result</h1>
                        <div class="pt-2">
                            <h3>AI Answer</h3>
                            <p id="ai_answer">sdfdasfsafdsafsafsafdsafsa</p>
                        </div>
                        <div class="pt-2">
                            <h3>Your Answer</h3>
                            <p id="user_answer">gsagsagdsagewgasdgvasdgewagb</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center my-5">
                <button id="continue" type="button" class="btn btn-primary">계속하기</button>
                <button id="exit" type="button" class="btn btn-primary">종료</button>
            </div>
        </div>

        <div id="mask" style="display: none; width: 100vw; height: 100vh; position: absolute; background-color: rgba(0,0,0,.8); top: 0; left: 0;">
            <div class="d-flex justify-content-center" style="height:100%; align-items: center">
                <h2 style="color: white">이미지 로딩중...</h2>
                <div class="spinner-border text-success ms-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>