{% load static %}

<div id="mainview" class="text-center" style="position: relative; display: flex; flex-direction: column; flex: 1; justify-content: space-around; align-items: center;">
    <a id="howtoplay" class="btn btn-outline-secondary rounded" data-bs-toggle="modal" data-bs-target="#howtoplayModal" style="position: absolute; border: 1px solid gray; top: 20px; left: 20px; font-size: 24px">?</a>

    <div>
        <h1 class="btn_font pb-5" style="font-size: 70px;">QUICK,<br>DESCRIBE!</h1>
        <a id="start" class="btn btn-primary">시작하기</a>
    </div>

</div>