<div id="resultview" style="display: none; flex-direction: column; flex: 1;">

    <div class="mt-5" style="display: flex; justify-content: center;">
        <div>
            <img src="" alt="" width="400">
        </div>

        <div class="ms-5">
            <div>
                <h1>Result</h1>
                <div class="pt-2">
                    <h3>AI Answer</h3>
                    <p id="ai_answer">sdfdasfsafdsafsafsafdsafsa</p>
                </div>

                <div class="pt-2">
                    <h3>Your Answer</h3>
                    <p id="user_answer">gsagsagdsagewgasdgvasdgewagb</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-5">
        <button id="continue" type="button" class="btn btn-primary">계속하기</button>
        <button id="exit" type="button" class="btn btn-primary">종료</button>
    </div>

</div>